#
###### requirements.txt ########
#
###### packages required to run all otolith reding software ######

notebook == 6.2.0
matplotlib == 3.3.4
Pillow == 8.1.0
opencv-python == 4.5.1.48
imutils == 0.5.4
fpdf == 1.7.2
tensorflow == 2.4.1
numpy == 1.19.5
joblib == 1.0.1
scipy == 1.6.1

#### conda installs ####
pywin32